<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.3.0/kakao.min.js"></script>
    <script>
        Kakao.init("6dd9ea5522b7f44e998e97e22ded8997")
    </script>
</head>
<body>
<button id="kakao-login">로그인</button>
<script>
    const kbtn = document.querySelector("#kakao-login");
    kbtn.addEventListener("click",()=>{
        console.log("kakao")
        Kakao.Auth.authorize({
            redirectUri: 'http://localhost:8080/auth/callback/kakao'
        });

    })

</script>

</body>
</html>